/*=========General=============
brun foncé=#30231d
brun moyen=#6a5750
brun clair=#b5a397
presque blanc=#f6f1ed



*** Primary color: vert pomme

   shade 0 = #A0B501 = rgb(160,181,  1) = rgba(160,181,  1,1) = rgb0(0.627,0.71,0.004)
   shade 1 = #D9ED42 = rgb(217,237, 66) = rgba(217,237, 66,1) = rgb0(0.851,0.929,0.259)
   shade 2 = #C8E10D = rgb(200,225, 13) = rgba(200,225, 13,1) = rgb0(0.784,0.882,0.051)
   shade 3 = #829300 = rgb(130,147,  0) = rgba(130,147,  0,1) = rgb0(0.51,0.576,0)
   shade 4 = #5D6900 = rgb( 93,105,  0) = rgba( 93,105,  0,1) = rgb0(0.365,0.412,0)

*** Secondary color (1): vert normal

   shade 0 = #5BA801 = rgb( 91,168,  1) = rgba( 91,168,  1,1) = rgb0(0.357,0.659,0.004)
   shade 1 = #92DD3D = rgb(146,221, 61) = rgba(146,221, 61,1) = rgb0(0.573,0.867,0.239)
   shade 2 = #76D10C = rgb(118,209, 12) = rgba(118,209, 12,1) = rgb0(0.463,0.82,0.047)
   shade 3 = #498900 = rgb( 73,137,  0) = rgba( 73,137,  0,1) = rgb0(0.286,0.537,0)
   shade 4 = #346200 = rgb( 52, 98,  0) = rgba( 52, 98,  0,1) = rgb0(0.204,0.384,0)

*** Secondary color (2): rose foncé

   shade 0 = #A0013F = rgb(160,  1, 63) = rgba(160,  1, 63,1) = rgb0(0.627,0.004,0.247)
   shade 1 = #D23A75 = rgb(210, 58,117) = rgba(210, 58,117,1) = rgb0(0.824,0.227,0.459)
   shade 2 = #C70C54 = rgb(199, 12, 84) = rgba(199, 12, 84,1) = rgb0(0.78,0.047,0.329)
   shade 3 = #820032 = rgb(130,  0, 50) = rgba(130,  0, 50,1) = rgb0(0.51,0,0.196)
   shade 4 = #5D0024 = rgb( 93,  0, 36) = rgba( 93,  0, 36,1) = rgb0(0.365,0,0.141)

*** Complement color: violet

   shade 0 = #68037A = rgb(104,  3,122) = rgba(104,  3,122,1) = rgb0(0.408,0.012,0.478)
   shade 1 = #8F2FA0 = rgb(143, 47,160) = rgba(143, 47,160,1) = rgb0(0.561,0.184,0.627)
   shade 2 = #830C97 = rgb(131, 12,151) = rgba(131, 12,151,1) = rgb0(0.514,0.047,0.592)
   shade 3 = #540263 = rgb( 84,  2, 99) = rgba( 84,  2, 99,1) = rgb0(0.329,0.008,0.388)
   shade 4 = #3C0147 = rgb( 60,  1, 71) = rgba( 60,  1, 71,1) = rgb0(0.235,0.004,0.278)









*/
*:focus {outline: none;}
* {font-family: 'Open Sans', sans-serif;}
a{text-decoration:none;color:black;}
form{padding:0;margin:0;}
#main{padding:2vw;}
body{background:#f6f1ed;}

.login_secondaire:hover,.bouton:hover{cursor: pointer;}
.margin_bottom{margin-bottom:1em;}
.bt_seul {display: block;text-align: center;margin: 0 auto;}
.bouton {border:none;border-radius: 3px;padding: .5em 2em;font-weight: bold;}
.bt_green {background: #6a5750;color: white;}


/*--login*/
.login {width: 30em;background: #b5a397;position: fixed;top: 20vh;right: 50%;transform: translatex(50%);padding: 2em;border-radius: 3px;border: none;text-align: center;}
.fake_submit {position: absolute;top: 0;left: 0;background: none;border: none;font-size: 0;color: transparent;}
.titre_box {font-size: 1.5em;font-weight: bold;color: white;}
.erreurlogin {color: #d20000;font-weight: bold;}
.input_text {width: 100%;background: #f6f1ed;border-radius: 3px;border: none;line-height: 2em;padding: 0 1em;text-align: center;margin: 0 0 1em 0;}
.login_secondaire {background: none;border: none;width: 45%;color: #30231d;font-size: .8em;}
.login_secondaire:hover {text-decoration:underline;}

/*--header*/
#titre{background:#6a5750;}
.logo {display: inline-block;margin: .5em;height: 2em;vertical-align: middle;}
#titre h1{display: inline-block;margin: 0;line-height: 2em;vertical-align: middle;padding: 0;font-size: 1.5em;color: #f6f1ed;}
.infos_header {float: right;margin: .5em;line-height: 2em;}
.header_info {font-weight: bold;color: #b5a397;}